/* --------- Global styles */
.body {
    background-color: #E0F7FA;
    font-family: 'Lato';
    text-align: center;
}
/* --------- Headings */
.headings {
    color: #00695C;
    font-family: 'Open sans', sans-serif;
}


/* --------- Game layout */

