/* --------- Global styles */
body {
    background-color: #E0F7FA;
    font-family: 'Lato';
    font-size: 18px;
    text-align: center;
    line-height: 1.5em;
}

/* -------- Typography */
.headings {
    color: #00695C;
    font-family: 'Open sans', sans-serif;
    margin: 15px;
}
#heading1 {
    font-size: 50px;
    font-weight: bold;
}

/* --------- Buttons */
/* Hover animation */
@keyframes btn-hover {
    from {background-color: #D32F2F;}
    to {background-color: #4FC3F7;}
}


.btn {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    background-color: #D32F2F;
    font-size: 20px;
    color: #FAFAFA;
    padding: 14px 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    letter-spacing: 2px;
}
.btn:hover {
    background-color: #4FC3F7;
    color: #212121;
    animation-name: btn-hover;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* --------- Landing page - Home  */
.logo {
    max-width: 200px;
}
.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    gap: 15px;
}
.intro {
    max-width: 50%;
}


/* --------- Game layout */

