/* --------- Global styles */
body {
    background-color: #E0F7FA;
    font-family: 'Lato';
    font-size: 18px;
    text-align: center;
    line-height: 1.5em;
    padding: 25px 40px;
    margin: 0;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.max-height {
    height: 88vh;
}
.logo {
    width: 120px;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
}

/* -------- Generic classes */
.justify-c {
    justify-content: center;
}
.align-c {
    align-items: center;
}
.space-b {
    justify-content: space-between;
}
.align-s {
    align-self: flex-start;
}
.align-e {
    align-self: end;
}

/* -------- Typography */
.headings {
    color: #00695C;
    font-family: 'Open sans', sans-serif;
    margin: 20px;
    font-weight: bold;
}
#heading1 {
    font-size: 50px;
    margin-bottom: 60px;
}

/* --------- Buttons */
/* Hover animation */
@keyframes btn-hover {
    from {background-color: #D32F2F;}
    to {background-color: #4FC3F7;}
}

.btn {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    background-color: #D32F2F;
    font-size: 20px;
    color: #FAFAFA;
    padding: 14px 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    letter-spacing: 2px;
}
.btn:hover {
    background-color: #4FC3F7;
    color: #212121;
    animation-name: btn-hover;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* --------- Icons */
.fa-solid, .fa-regular {
    color: #212121;
    font-size: 26px;
    margin: 0 10px;
}
.fa-gear:hover, .fa-circle-question:hover {
    color: #00695C;
}

.fa-arrow-right {
    color: #FAFAFA;
    margin: 10px;
    padding: 11px 12px;
    border: solid 3px #212121;
    border-radius: 26px;
    background-color: #D32F2F;
}
.fa-arrow-right:hover {
    color: #D32F2F;
    border: solid #D32F2F;
    background-color: transparent;
}

/* --------- Landing page - Home  */
.logo {
    max-width: 200px;
}
.home {
    text-align: center;
}
.intro {
    max-width: 50%;
}


/* --------- Game layout grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    width: 600px;
    margin: 0 auto;
}

.card {
    width: 100%;
    padding-top: 100%;
    background-color: #4FC3F7;
    border: solid 2px #212121;
    cursor: pointer;
    position: relative;
}